.myModal {
    display: 'block';
    position: absolute; 
    z-index: 1;
    left: 0px;
    top: 5px;
    margin: 10px;
    width: 130px;
    height: 200px;
    overflow: auto;
}

.modalContent {
    background-color: #ffffff;
    border: 1px solid;
    box-shadow: 1px 1px;
    border-radius: 5px;
    position: relative;
    width: 95%;
    height: 95%;
    text-align: center;
}

.rel_albumImgModal {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
  border: 1px solid #999;
  border-radius: 50%;
  position: relative;
  top: 12px;
}

.rel_artistNameModal {
  top: 10px;
}

.rel_followerCountModal {
  font-size: 14px;
  display: inline-block; 
  text-align: center; 
}

.button {
  display: block;
  margin: auto;
}

.proIcon {
  color: #ff5500;
}

.rel_hover:hover {
  color: #000;
}

.rel_artistNameHolder {
  display: block;
  position: relative;
  top: 20px;
  padding-bottom: 35px;
}






