.likeButtonContainer {
  position: relative;
}

.likeButton {
  position: absolute;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #999;
  width: 20px;
  height: 20px;
  top: 9px;
  left: 240px;
}

.likeButton:hover {
  border: 1px solid rgb(58, 57, 57);
}


#likeButtonImgOff {
  color: #000;
  position: absolute;
  top: 2px;
  left: 2px;
}

#likeButtonImgOn {
  color: red;
  position: absolute;
  top: 2px;
  left: 2px;
}
