.moreModal {
  display: 'block';
  position: absolute;
  z-index: 1;
  left: -10px;
  top: 10px;
  margin: 10px;
  width: 150px;
  height: 163px;
  overflow: auto; 
}

.moreModal_contentOn {
    display: block;
    background-color: #ffffff;
    border: 1px solid #999;
    position: relative;
    width: 95%;
    height: 95%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.moreModal_contentOff {
    display: none;
    background-color: #ffffff;
    border: 1px solid #999;
    position: relative;
    width: 95%;
    height: 95%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.moreModalData {
  position: relative;
  height: 30px;
  border-bottom: 1px solid #999;
  margin:0;
  padding: 0;
}
.moreModalData:last-child { 
  border-bottom: none; 
}

.moreModalHover:hover {
  background-color: #e5e5e5;
}

.marginRight {
  margin-right: 6px;
}