.moreButtonContainer {
  position: relative;
}

.moreButtonClicked {
  position: absolute;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ff5500;
  width: 20px;
  height: 20px;
  top: 9px;
  right: 1px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moreButton {
  position: absolute;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #999;
  width: 20px;
  height: 20px;
  top: 9px;
  right: 1px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moreButtonImgClicked {
  margin: auto;
  color: #ff5500;
  position: relative;
  padding: 0px;
}

.moreButtonImg {
  margin: auto;
  color: #000;
  position: relative;
  padding: 0px;
}

.moreButton:hover {
  border: 1px solid rgb(58, 57, 57);
}
